<html>
    <head>
        <%- include ('partials/head.html')%>
    </head>
    <body>
        <!-- Header -->
        <%- include ('partials/header.html')%>
        <!-- NavBar -->
        <%- include ('partials/navbar.html')%>
        <main class="container-fluid">
            <span class="text-monospace font-weight-bolder textTitle">Quienes somos</span>
            <div class="container space">
                <div class="d-flex align-self-center">
                    <p class="textMain">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, necessitatibus ullam assumenda sequi sunt id adipisci atque voluptatem maxime et deleniti tempore numquam nisi soluta, eos dolorum. Nobis, omnis quae.</p>
                </div>
            </div>
        </main>
        <%- include ('partials/footer.html')%>
    </body>
</html>