<html>
    <head>
        <%- include ('partials/head.html')%>
    </head>
    <body>
        <!-- Header -->
        <%- include ('partials/header.html')%>
        <!-- NavBar -->
        <%- include ('partials/navbar.html')%>
        <main class="container-fluid">
            <span class="text-monospace font-weight-bolder textTitle">Busqueda Chofer</span>
            <div class="container space">
                <iframe src="../pdf/semana3842.pdf#toolbar=0&view=FitV&menubar=no" width="80%" height=75%>
                </iframe>
            </div>
        </main>
        <%- include ('partials/footer.html')%>
    </body>
</html>