
<!-- Cabecera web -->
<header class="container-fluid bg-color text-center">
    <!-- Barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand align-middle" href="#">
                <!-- Imagen -->
                <img src="../img/descarga.jpg" alt="" class="d-inline-block align-text-top">
                <!-- Titulo -->
                Departamento LC
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Auditorias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/auditQuality">Calidad</a></li>
                            <li><a class="dropdown-item" href="/auditHalf">Medio</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Busqueda
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/seekDriver">Chofer</a></li>
                            <li><a class="dropdown-item" href="/seekOwner">Fletero</a></li>
                            <li><a class="dropdown-item" href="/seekUnit">Unidad</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/indicadores">Indicadores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/aboutUs">Quienes Somos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>